#logsPageDiv {
  background: radial-gradient(rgb(186, 190, 170), #97998d);
  color: #fff5e6;
  height: 100vh;
  font-family: "Sora", sans-serif;
}
#logsTitleDiv {
  display: block;
  margin-top: 10vh;
  margin-left: 15%;
  margin-right: 15%;
}
#logsTitleDiv div {
  height: 50vh;
  overflow: scroll;
}
td {
  width: 12vw;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
}
.journal {
  width: 32vw;
}
@media screen and (max-width: 600px) {
  td {
    width: 20vw;
    font-size: 13px;
  }
  .journal {
    width: 60vw;
  }
  #logsTitleDiv {
    margin-left: 5%;
    margin-right: 5%;
  }
}
